<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin-left: 50px">
   <table>
       <header>COURSES</header>

       <tr>
           <h1>ANDROID</h1>
           <td>At eMobilis training school,<br> you will learn how to develop<br> apps for Android devices.<br> The course is designed to take you from<br> a novice android programmer to an<br> expert with hard work<br> and dedication. </td>

       </tr>

       <tr>
           <h1>FULL STACK</h1>
           <td>
               At eMobilis, we offer a Full Stack Development course <br>that equips learners with the knowledge and skills<br> to develop robust web and mobile applications.<br> Through the course, you will gain proficiency in developing and deploying<br> fully functional web and mobile applications.<br>
           </td>


       </tr>

       <tr>
           <h1>PYTHON</h1>
           <td>
              eMobilis Python development training course is <br>designed to equip learners with the skills and knowledge necessary to develop<br> Python-based<br> applications and websites.<br> Learners will be able to develop a wide range<br> of outputs, including web applications, games, and automation scripts.<br>
           </td>
       </tr>



   </table>





</div>
</body>
</html>